* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  width: 600px;
  margin: auto;
}

form {
  color: #fff;
  background-color: #356aa0;
  height: auto;
  padding: 2px;
}

fieldset {
  margin: 20px;
  border: 2px solid #fff;
  padding: 16px;
}

legend {
  font-size: 20px;
  margin: 0 10px;
}

table {
  font-size: 18px;
}

tr {
  margin: auto;
}

td {
  padding: 8px;
}

input,
select {
  border-radius: 3px;
  border: none;
  padding: 4px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  flex-direction: row;
}

.nav a {
  font-size: 20px;
  color: #fff;
  background-color: #96b129;
  border-radius: 50px;
  box-shadow: 1px 1px 6px #000;
  padding: 6px 12px;
  margin: 0 8px;
}
